<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        <style>
            .frontpagetext {
                font: bold;
                size: 2em;
                padding: 50px 5px 5px 5px;
            }
        </style>
</head>
<body>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action='/contact'>
        <button type='submit'>
            Contact Me
        </button>
    </form>
    
    
    <form {% if loggedin %}action="/dashboard/" {% else %} action="/login" {% endif %} type="POST">
        {% if loggedin %}
            <p>
                {{level}}
            </p>
            <button type = "submit" class=" dashboardbutton">
                Go to Dashboard
            </button>
        {% else %}
            <button type = "submit" class=" dashboardbutton">
                Login / Sign Up
            </button>
        {% endif %}
    </form>

    {% block body %}{% endblock body %}
</body>
</html>
