{% extends 'basic_elements.html' %}
{% block title %}Home{% endblock title%}

{% block body %}
    <p class="myArticleHeading">
        You Have reached the home page
    </p>


    <p class="frontpagetext">
        The blogs are listed below, choose one and then
        got to blog...
    </p>

    <form method="POST" action="blogs/">
        {% csrf_token %}
        <p>
            The blog to be shown goes here
        </p>

        <input type="radio" name = "saveit" value = "False" style="display:none" id="saveit" checked>

        {% for blog_title,blog_name in blog_heads %}
            <input type="radio" name = "blognameandtitle" value = "{{ blog_name }} {{blog_title}}" id="blogname">{{ blog_title }}<br>
        {% endfor %}

        <button type="submit" class=" submitbutton">
            Go to blogs/
        </button>

    </form>

{% endblock body %}
