<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
</head>
<body>


    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <form action='/contact'>
        <button type='submit'>
            Contact Me
        </button>
    </form>
    
    
    <form {% if loggedin %}action="/dashboard/" {% else %} action="/login" {% endif %} type="POST">
        {% if loggedin %}
            <p>
                {{level}}
            </p>
            <button type = "submit" class=" bg-red-400">
                Go to Dashboard
            </button>
        {% else %}
            <button type = "submit" class=" bg-red-400">
                Login / Sign Up
            </button>
        {% endif %}
    </form>

    <p class=" text-blue-700 text-2xl mt-24">
        This is home
    </p>


    <p class=" font-bold">
    {% block body %}{% endblock body %}
    </p>
    <img src="{% static 'sea.jpg' %}" alt="Sea water, blue" class=" h-24 w-auto">
    <p class="bg-red-500">
    quisquam quos consequatur dignissimos. Quibusdam dignissimos accusamus laborum suscipit laborum!
    Commodi officiis quos nam quam repudiandae Necessitatibus nulla asperiores non consequatur voluptatum ducimus ullam minus, molestiae, reprehenderit suscipit Voluptate 
    error laborum enim quas quas! Ab facere porro culpa tenetur voluptatum
    architecto. Consequuntur laborum et laboriosam similique vitae Molestiae earum ducimus soluta
    ullam quos Obcaecati doloribus voluptates et ab commodi similique! Perspiciatis labore
    neque fugit totam rem
    </p>

    <form method="POST" action="blogs/">
        {% csrf_token %}
        <p>
            The blog to be shown goes here
        </p>

        <input type="radio" name = "saveit" value = "False" style="display:none" id="saveit" checked>

        {% for blog_title,blog_name in blog_heads %}
            <input type="radio" name = "blognameandtitle" value = "{{ blog_name }} {{blog_title}}" id="blogname">{{ blog_title }}<br>
        {% endfor %}

        <button type="submit" class=" bg-red-500">
            Go to blogs/
        </button>

    </form>
</body>
</html>
