{% extends 'basic_elements.html' %}

{% block title %}
    Blog Page
{% endblock title %}


{% block body %}

    <p>
        Welcome to the blog page
    </p>
    <p>
        Amet maiores similique iste magnam ducimus Doloribus quidem nesciunt aliquam recusandae nesciunt? Dolorem eveniet odit ipsam nam laborum. Esse eos quas itaque ea reprehenderit. Reiciendis perspiciatis blanditiis vel laborum repellat. Animi ad dolore officiis commodi beatae Velit eligendi eligendi laboriosam voluptatem laborum. Voluptates numquam est quis odit aliquam? Sunt aliquid?
    </p>

    <p>
        Ipsum optio cumque quo sequi harum, rerum, provident, maxime Labore rem numquam provident animi odit aut dignissimos Explicabo quaerat cumque doloremque voluptatem illo. Dolores beatae ullam rem voluptate magnam repellat perferendis reiciendis, eaque ipsum A ex veniam praesentium tempore consequuntur est Expedita ad eius eius debitis earum nam! Deserunt laboriosam sapiente consequatur dicta molestias, est Voluptas eveniet nesciunt ut cupiditate!
    </p>

{% endblock body %}
