{% extends 'basic_elements.html' %}

{% block title %}Log In{% endblock title %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h3>
    Log In
</h3>

<form method="POST" action = "/dashboard/">

    {% csrf_token %}

    <p>Enter username - </p>
    <input name = "name" type = "text" >

    <p>Set a password - </p>
    <input name = "password" type = "password" >

    <button type = "submit">
        Submit
    </button>
</form>


<p>New Here?</p>
<form action = "/create-account/" method = "POST">
    {% csrf_token %}
    <button type = "submit">
        Create an Account
    </button>
</form>

{% endblock body %}